/* Importing Font Families */
@font-face {
  font-family: 'Sofa Sans';
  src: url('../assets/fonts/SofaSansHand-Bk.otf');
}

@font-face {
  font-family: 'LookingFlowers-ScriptPro';
  src: url('../assets/fonts/Looking\ Flowers\ Script\ Pro.otf');
}

@font-face {
  font-family: 'Blackout Midnight';
  src: url('../assets/fonts/Blackout\ Midnight.ttf');
}
/* End Of Importing Font Families */

/* Navbar Specific Styling */
.navbar {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.161);
  color: #2a375e;
}

.nav-link {
  font-family: 'Sofa Sans';
}
/* End Of Navbar Specific Styling */

/* Our Works */
.our-works {
  font-family: 'Sofa Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
  color: #2a375e;
  text-shadow: 2px 2px #a3a3a3;
}

.secondary-text {
  font-family: 'LookingFlowers-ScriptPro';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 46px;
  color: #13b2d6;
}
/* End Of Our Works */

/* Fests */
.fest-name {
  font-family: 'Sofa Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 49px;
  color: #2a375e;
}

.fest-watermark {
  position: absolute;
  z-index: -1;
  font-family: 'Blackout Midnight';
  font-style: normal;
  font-weight: normal;
  font-size: 280px;
  line-height: 206px;
  text-align: center;
  color: rgba(232, 232, 232, 0.4);
}

/* Slick Carousel */
.post-slider {
  position: relative;
  border: 1px solid red;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  border: 1px solid green;
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 350px;
  margin: 0px 10px;
  display: inline-block;
  background: lightblue;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #555;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #555;
  cursor: pointer;
}
/* End Of Slick Carousel */

.card {
  border: none;
  border-radius: 0;
  transition: 0.2s all ease-in-out;
  display: inline-block;
}

.card:hover {
  transform: translate(0px, -3px);
}

.card-img-top {
  border: none;
  border-radius: 0;
  height: 232px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.card-text {
  font-family: 'Sofa Sans';
  font-style: normal;
  font-size: 18px;
  color: #2a375e;
  margin: 0.3rem;
  position: absolute;
  left: 24px;
  padding: 0 0.3rem;
  background: #ffffff;
  border-radius: 2px;
}

.year {
  bottom: 48px;
}

.theme {
  bottom: 16px;
}
/* End Of Fests */
