/* Importing Font Families */
@font-face {
  font-family: 'Sofa Sans';
  src: url('../assets/fonts/SofaSansHand-Bk.otf');
}

@font-face {
  font-family: 'Blackout-2AM';
  src: url('../assets/fonts/Blackout\ 2\ AM.ttf');
}

/* End Of Importing Font Families */

/* Global styles */
body {
  overflow-x: hidden;
}
/* End Of Global Styles */

/* Background Image */
.bg-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: rgba(0, 0, 0, 1);
}
/* End Of Background Image */

/* Close Button */
/* .close {
  background: rgba(182, 182, 182, 0.5);
  color: #fff;
} */
/* End Of Close Button */

/* Swiper */
.swiper-container {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 60%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 100px;
  height: 100px;
  padding: 3rem;
  transform: scale(0.3);
  color: #000;
  background: #fff;
  font-weight: 900;
  border-radius: 50%;
  margin: auto 10%;
  bottom: 50%;
  position: fixed;
}

.img-fluid {
  max-height: 500px;
  width: auto;
}

.text-white {
  color: #fff;
  font-family: 'Blackout-2AM';
  font-size: 20px;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0rem 0rem 0rem 2rem;
}

.fest-year {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0rem 0rem 2rem 2rem;
}

.post {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0rem 2rem 2rem 0rem;
}
/* End Of Swiper */

/* Media Queries */
@media screen and (min-width: 280px) {
  body {
    overflow-x: hidden;
  }
  #posts {
    width: 100vw;
    margin: 0px auto;
  }
  .close {
    transform: scale(0.8);
    margin: 3rem 3rem 0rem 0rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    visibility: collapse;
  }
  .number {
    font-size: 14px;
    margin: 1rem 0rem 0rem 1rem;
  }
  .fest-year {
    font-size: 12px;
    margin: 0rem 0rem 1rem 1rem;
  }
  .post {
    font-size: 12px;
    margin: 0rem 1rem 1rem 0rem;
  }
}

@media screen and (min-width: 540px) {
  .number {
    font-size: 14px;
    margin: 2rem 0rem 0rem 2rem;
  }
  .fest-year {
    font-size: 14px;
    margin: 3rem 0rem 0rem 2rem;
  }
  .post {
    font-size: 14px;
    margin: 3rem 2rem 0rem 0rem;
  }
}

@media screen and (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    visibility: visible;
  }
  .close {
    transform: scale(1);
  }
  #posts {
    margin: auto auto;
  }
  .number {
    font-size: 16px;
  }
  .fest-year {
    font-size: 16px;
  }
  .post {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  #posts {
    margin: auto auto;
  }
  .number {
    font-size: 20px;
  }
  .fest-year {
    font-size: 20px;
  }
  .post {
    font-size: 20px;
  }
}
/* End Of Media Queries */
