body {
  overflow-x: hidden;
}

.bg-image {
  position: absolute;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  width: 100vw;
  height: 100vh;
}
