/* Importing Font Families */
@font-face {
  font-family: 'Sofa Sans';
  src: url('../assets/fonts/SofaSansHand-Bk.otf');
}

@font-face {
  font-family: 'Blackout-2AM';
  src: url('../assets/fonts/Blackout\ 2\ AM.ttf');
}

/* End Of Importing Font Families */

/* Global styles */
body {
  overflow-x: hidden;
}
/* End Of Global Styles */

/* Background Image */
.bg-image {
  background-position: center;
  background-size: cover;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3rem 0rem;
}
/* End Of Background Image */

/* Close Button */
.close {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  margin: 5rem 5rem 0rem 0rem;
  height: 40px;
  width: 40px;
  background-color: #000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Of Close Button */

/* Swiper */
.swiper-container {
  width: 100%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 60%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 100px;
  height: 100px;
  padding: 3rem;
  transform: scale(0.3);
  color: #000;
  background: #fff;
  font-weight: 900;
  border-radius: 50%;
  margin: auto 10%;
  bottom: 50%;
}

.img-fluid {
  width: max-content;
  padding: 0;
  height: auto;
}

.text-white {
  color: #fff;
  font-family: 'Blackout-2AM';
  font-size: 20px;
}
/* End Of Swiper */

/* Carousel */
/* Implementing https://codepen.io/MhSami/pen/zNBMbj code */
.show-neighbors {
  overflow: hidden;
}

.show-neighbors .carousel-indicators {
  margin-right: 25%;
  margin-left: 25%;
}

.show-neighbors .carousel-control-prev,
.show-neighbors .carousel-control-next {
  background: rgba(0, 0, 0, 0.6);
  width: 25%;
  z-index: 11;
  /* .carousel-caption has z-index 10 */
}

.show-neighbors .carousel-inner {
  width: 150%;
  left: -25%;
}

.show-neighbors .carousel-item-next:not(.carousel-item-left),
.show-neighbors .carousel-item-right.active {
  -webkit-transform: translate3d(33%, 0, 0);
  transform: translate3d(33%, 0, 0);
}

.show-neighbors .carousel-item-prev:not(.carousel-item-right),
.show-neighbors .carousel-item-left.active {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}

.show-neighbors .item__third {
  float: left;
  position: relative;
  /* captions can now be added */
  width: 33.33333333%;
}
/* End Of Implementing https://codepen.io/MhSami/pen/zNBMbj code */

.img-fluid {
  width: 800px;
  height: 533px;
}

.card-text {
  font-family: 'Sofa Sans';
  font-size: 18px;
  color: #2a375e;
  background: #ffffff;
  border-radius: 2px;
  margin: 0.3rem;
  padding: 0.1rem 0.4rem;
}

/* Carousel Buttons Styles */
.fa-chevron-left {
  margin: 6px 5px 0 4px;
  font-size: 130%;
  color: #2a375e;
}

.fa-chevron-right {
  margin: 6px 4px 0 5px;
  font-size: 130%;
  color: #2a375e;
}
/* End of Carousel Buttons Styles */

/* End Of Carousel */

.egtext {
  margin: 20px 0 0 400px;
  color: #fff;
  font-family: 'Blackout-2AM';
  font-size: 30px;
  z-index: 500;
}
