/* Global styles */
@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

body {
  font-family: Poppins, sans-serif;
  background: #eee;
}
/* End Of Global styles */

/* Navbar */
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url('../assets/img/sidebar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.button-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all 0.4s;
  font-size: 14px;
}

.sidebar-link:hover {
  background-color: #444;
}

.current {
  background-color: #f44336;
  box-shadow: 2px 5px 10px #111;
  transition: all 0.3s;
}

.current:hover {
  background-color: #f66436;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .top-navbar {
    position: static;
  }
}
/* End Of Navbar */

/* Cards */
.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all 0.4s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}
/* End Of Cards */

/* Upload Images */
.upload-artwork,
#upload-artwork,
.images-row {
  display: none;
}
/* End Of Upload Images */

/* Edit Fest */
#no-fests {
  display: none;
}
/* End Of Edit Fest */

/* Update Images */
.update-artwork,
#update-artwork {
  display: none;
}
/* End Of Update Images */

/* Delete Images */
.caution,
.no-images,
.display-existing-images,
.delete-option,
.delete-successful {
  display: none;
}

.selected-card {
  color: white;
  opacity: 0.4;
  transition: all 0.3s ease-out;
}
/* End Of Delete Images */

/* Delete Fest */
.delete-fest-successful {
  display: none;
}
/* End Of Delete Fest */

/* Creativity */
.upload-creativity,
#error-creative-uploads,
.no-delete-creative-works,
.delete-creative-container,
.delete-creative-work-successful,
#error-delete-creative-work,
#error-display-creative-works {
  display: none;
}

.choose-creative-artwork {
  color: white;
  opacity: 0.4;
  transition: all 0.3s ease-out;
}
/* End Of Creativity */

/* Add Profile */
.add-profile-successful,
#error-add-profile {
  display: none;
}
/* End Of Add Profile */

/* Update Delete Profile Tabs */
.nav-tabs {
  display: flex;
  justify-content: center;
}
/* End Of Update Delete Profile Tabs */

/* Edit Profiles */
.edit-profiles-tab {
  background: white;
}

.edit-profiles,
.update-profile-successful,
#error-update-profile,
.no-profiles {
  display: none;
}

.list-group-item-dark {
  background: #eee;
}

.choose-profile {
  background: #fabc35;
  color: rgb(53, 53, 53);
}
/* End Of Edit Profiles */

/* Delete Profiles */
.delete-profiles-tab {
  background: white;
}

.delete-profiles,
.delete-profiles-successful,
#error-delete-profiles,
.no-delete-profiles {
  display: none;
}
/* End Of Delete Profiles */

/* Error Messages */
#error-uploads,
#error-updates,
#error-get-existing-photos,
#error-message,
#error-delete-images,
#error-delete-fest,
#error-add-profile,
#error-update-profile,
#error-delete-profiles,
#error-creative-uploads,
#error-delete-creative-work {
  color: red;
}
/* End Of Error Messages */

/* Optional field values in upload and update form */
.label-name-of-event,
.input-name-of-event {
  display: none;
}
/* End Of Optional field values in upload and update form */

/* Settings */
.change-password,
#error-message {
  display: none;
}
/* End Of Settings */

/* Footer */
.footer {
  bottom: 0;
}
/* End Of Footer */
